services:
  database:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  patient-service:
    build: ./patient-service
    ports:
      - "8001:8001"
    depends_on:
      - database
  doctor-service:
    build: ./doctor-service
    ports:
      - "8002:8002"
    depends_on:
      - database
  appointment-service:
    build: ./appointment-service
    ports:
      - "8003:8003"
    depends_on:
      - database
      - patient-service
      - doctor-service
  gateway-service:
    build: ./gateway
    ports:
      - "8000:8000"
    depends_on:
      - patient-service
      - doctor-service


volumes:
  mongo-data: